body {
    font-family: "Nunito", sans-serif;
    background-color: white;
}

#mainNavbar {
    font-size: 1.85rem;
    padding: 0 !important;
}

#mainNavbar .navbar-brand {
    color: #007bff;
    font-size: 2rem;
}
#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: #007bff;
}

.navbar {
    background: white;
}

.navbar.scrolled {
    background: #cddafd;
    transition: background 350ms;
}

#headingGroup span {
    color: #007bff;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1118px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

h2 {
    color: black;
    font-weight: 100;
    font-size: 2.5rem;
}

#maincontent {
    background-color: white;
}

#maincontent h1{
    text-align: center;
}

#maincontent h3{
    font-size: 2rem;
    line-height: 1.5;
}

#firstrowp {
    font-size: 1.5rem;
    line-height: 2;
}

.secondrow{
    font-size: 1.25rem;
    text-align: center;
}

.secrowheaders {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: 600;
}

#callbutton {
    font-size: 1.15rem;
    margin-top: 5px;
}

#titleimage {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.iconitems {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

#secondrow {
    background-color: #f0f8ff;
}

#thirdrowtitle {
    text-align: center;
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.thirdrowtext {
    text-align: center;
}

@media (max-width: 1478px) {
    #maincontent h3 {
        font-size: 1.5rem;
    }
    #maincontent p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1000px) {
    #firstrow h3 {
        font-size: 1.25rem;
    }
    #firstrow p {
        font-size: 1.05rem;
    }
    #titleimage {
        content:url("/img/smalllogo.svg");
        font-size: 2.5rem;
        text-align: center;
    }
    #secondrow p {
        font-size: 1.10rem;
    }
    #secondrow h4 {
        font-size: 1.35rem;
    }
}

@media (max-width: 600px) {
    #firstrow h3 {
        font-size: 1.25rem;
        text-align: center;
    }
    #firstrow p {
        font-size: 1.05rem;
        text-align: center;
    }
    #titleimage {
        font-size: 2rem;
        text-align: center;
    }
    #secondrow p {
        font-size: 1rem;
    }
    #secondrow h4 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1118px) {
    #mainNavbar {
        font-size: 1.25rem;

    }
}

@media (max-width: 427px) {
    #titleimage {
        width: 250px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 325px) {
    #brandlogo {
        margin: auto;
    }
}
